@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');


.nav {
  width: 100vw;
  height: 12vh;
  align-items: center;
  background-color: #332E91;
  z-index: 999;
}

.nav .nav__list{
  display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10;
    // font-family: 'Pacifico', cursive;
    font-family: 'Alkatra', cursive;
    font-weight: normal;
    font-size: 130%;
    margin-top: -12vh;
    // color: #FF8197;
}

.nav__listlogo{
  // background-color: black;
  // background: url(/src/assets/images/Logo.png);
  width: 8vw;
  height: 12vh;
  // margin-right: 90vh;
  border-radius: 50%;
}

.nav__listlogo .nav__im{
  // background-color: yellow;
  margin-top: -10%;
  object-fit: fit;
  height: 12vh;
  width: 8vw;
}

.nav_pics{
  height: 4.5vh;
  width: 3.2vw;
}

<<<<<<< HEAD
=======
.nav_name{
  // background-color: white;
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  // padding-bottom: 3px;
}

>>>>>>> 3d22a814caf49a539efee4882581acbf04c9e42e
.nav__list .nav__line{
  font-style: none;
}
a {
  text-decoration: none !important;
}

.nav__list .nav__listitem{
      list-style: none;
      position: relative;
      padding: 1.5rem 1rem;
      cursor: pointer;
      color: black;
      margin-top: -1%;

      &::after {
        content: "";
        width: 0;
        height: 0.3rem;
        border-radius: 100rem;
        position: absolute;
        left: 0.9rem;
        bottom: 0.8rem;
        background-color: #FF8197;
        transition: width 200ms ease-in;
      }

      &:hover::after,
      &:focus::after {
        width: 80%;
      }
}
